body{
    background-color: #1c1c27 !important;
    overflow-x: hidden;
}

a:link {
    color: white;
    text-decoration: underline;
}

a:visited { /* visited link */
    color: floralwhite;
}

a:hover { /* mouse over link */
    color: palevioletred;
}

a:active { /* selected link */
    color: white;
}

/*Header*/
#home_navbar{
    background-color: #1c1c27 !important;
}

#home_title_header{
    font-size: 2em;
    margin-left: 0;
    text-decoration: none;
}

#home_title{
    position: absolute;
    top: 12px;
    left: 112px;
}

#home_airplane_icon{
    margin-top: 15%;
    margin-left: 20%;
}

#home_radar_icon{
    margin-top: 15%;
}

/*Map*/
#mapdiv {
    width: 100%;
    height: 54em;
    background-color: white;
}

/*Chart*/
#chartdiv {
    width	: 100%;
    height	: 24em;
    background-color: #30303d;
    color: #FFFFFF;
}

/*Footer*/
.footer{
    background-color: #1c1c27 !important;
    color: white;
    height: 2em;
    font-family: unset;
    font-size: 10px;
}

#credits{
    padding-left: 5%;
}

/* Sidebar */

#sidebar_cancel_icon{
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 400px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    width: 0;
    height: 30em;
    right: 0;
    overflow-y: auto;
    background: #30303d;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-chart{
    z-index: 1000;
    position: absolute;
    width: 0;
    height: 24em;
    right: 0;
    bottom: 13px;
    overflow-y: auto;
    background: #000000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 400px;
}

#wrapper.toggled #sidebar-chart {
    width: 400px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -400px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 98%;
}

.sidebar-nav li {
    padding-left: 20px;
    line-height: 40px;
    color: aliceblue;
}

#menu-toggle{
    position: absolute;
    top: 0 ;
    right: 0;
}

.list_title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: -5px;
}

#speed_chart_title{
    position: absolute;
    bottom: 0;
}

#list_aircraft_name{
    width: 83%;
    font-size: 25px;
}

/*Screens*/
@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 400px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 400px;
    }
    #sidebar-chart {
        width: 0;
    }
    #wrapper.toggled #sidebar-chart {
        width: 400px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

